@charset "UTF-8";

body {
    background-color: #fef2cb;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* btn */
.btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submit,
.back {
    text-align: center;
}

.submit .btn {
    background-color: #ed7d32;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.back .btn {
    background: #fff;
    color: #ed7d32;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 30px;
}

/* header */
header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #fbe4d5;
}

.header-left {
    float: left;
    padding: 15px 30px;
}

.header-left p {
    font-size: 20px;
}

.header-right {
    float: right;
}

header .btn {
    background-color: #fbe4d5;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 7px;
    margin-right: 20px;
}

#logout-form {
    display: inline-block;
}

/* form */
.form {
    width: 100%;
}

.form th {
    width: 30%;
    text-align: left;
    padding-bottom: 10px;
}

.form td {
    width: 70%;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 14px;
}

.nickname input,
.password input,
.password-confirmation input,
.email input {
    width: 100%;
}

.email td {
    color: #0c63c1;
}

.product-form .name input,
.product-form .product-content textarea {
    width: 100%;
}

/* error-message */
.error-messages {
    color: red;
    font-size: 12px;
}

.error-messages th,
.error-messages td {
    padding-bottom: 5px;
}

/* member-register-complete */
.member-register-complete {
    text-align: center;
}
