@charset "UTF-8";
main {
    padding-top: 60px !important;
}

body {
    background-color: #fef2cb;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* btn */
.btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submit,
.back {
    text-align: center;
}

.submit .btn {
    background-color: #ed7d32;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.back .btn {
    background: #fff;
    color: #ed7d32;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 30px;
}

/* header */
header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #fbe4d5;
    z-index: 10;
}

.header-left {
    float: left;
    padding: 15px 30px;
}

.header-left p {
    font-size: 20px;
}

.header-right {
    float: right;
}

header .btn {
    background-color: #fbe4d5;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 7px;
    margin-right: 20px;
}

#logout-form {
    display: inline-block;
}

/* form */
.form {
    width: 100%;
}

.form th {
    width: 30%;
    text-align: left;
    padding-bottom: 10px;
}

.form td {
    width: 70%;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 14px;
}

.nickname input,
.password input,
.password-confirmation input,
.email input {
    width: 100%;
}

.email td {
    color: #0c63c1;
}

.product-form .name input,
.product-form .product-content textarea {
    width: 100%;
}

.category select {
    width: 40%;
}

input[type="file"] {
    display: none;
}

.search-form {
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    margin-top: 30px;
}

.search-form .free-word input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 3px;
}

/* error-message */
.error-messages {
    color: red;
    font-size: 12px;
}

.error-messages th,
.error-messages td {
    padding-bottom: 5px;
}

/* member-register-complete */
.member-register-complete {
    text-align: center;
}

/* products */
.images img {
    width: 200px;
    height: 200px;
    display: block;
}

.product {
    padding: 20px 0;
    border-bottom: 1px solid #000;
    height: 200px;
}

.product-image {
    float: left;
    width: 30%;
    height: 100%;
    padding: 10px;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-caption {
    float: right;
    width: 70%;
    padding: 10px;
}

.product-caption .category {
    background-color: #fff;
    border: 1px solid #000;
}

.product-caption a {
    display: block;
    margin-top: 20px;
}

.pager {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

/* product_detail */
.product-detail {
    margin-top: 30px;
}

.product-detail .name {
    display: inline-block;
    margin-right: 15px;
}

.product-detail .images {
    list-style: none;
    display: flex;
    margin: 30px 0;
}

.product-detail .images li {
    width: 23%;
    margin-right: 1%;
}

.product-detail .images img {
    width: 100%;
    height: 150px;
}

.product-detail .description {
    margin-bottom: 30px;
}

/* review */
.product-wrapper {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #000;
}

.review-form {
    margin-top: 30px;
}

.review-form .evaluation select {
    padding: 0 20px;
}

.review-form .comment textarea {
    width: 100%;
}

.reviews .review {
    width: 100%;
    border-bottom: 1px solid #000;
}

.reviews .review th {
    width: 30%;
    padding: 10px 0;
}

.reviews .review td {
    width: 70%;
}

/* mypage */
.profile {
    width: 100%;
    margin-top: 30px;
}

.profile th {
    width: 30%;
    padding-bottom: 30px;
}

.profile td {
    width: 70%;
    padding-bottom: 30px;
}

/* mypage_reviews */
.mypage-reviews .review {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 15px 0;
}

.mypage-reviews .product-image {
    width: 30%;
}

.mypage-reviews .review-content {
    width: 70%;
    padding-left: 15px;
}

.review-content .category {
    background-color: #fff;
    border: 1px solid #000;
}

.review-content h3 {
    color: #3490dc;
}

.review-content .buttons {
    display: flex;
}

.review-content .buttons .submit {
    margin-right: 10px;
}
